/*
Error: Undefined variable: "$screen-xs-min".
        on line 2 of /Users/michael/suitit/dev/boilerplates/style-boilerplate/variables/_media-queries.scss
        from line 5 of /Users/michael/suitit/dev/boilerplates/style-boilerplate/app.scss

1: // Charakter Set
2: @charset "UTF-8";
3: 
4: // Variables:start
5: @import "variables/media-queries";
6: @import "variables/colors";
7: @import "variables/fonts";

Backtrace:
/Users/michael/suitit/dev/boilerplates/style-boilerplate/variables/_media-queries.scss:2
/Users/michael/suitit/dev/boilerplates/style-boilerplate/app.scss:5
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/script/tree/node.rb:50:in `perform'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:469:in `visit_variable'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/stack.rb:88:in `block in with_import'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/stack.rb:88:in `with_import'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/stack.rb:79:in `block in with_base'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/stack.rb:115:in `with_frame'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/stack.rb:79:in `with_base'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:414:in `run'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
/Users/michael/.rvm/gems/ruby-2.2.2/gems/sass-3.4.21/bin/scss:13:in `<top (required)>'
/Users/michael/.rvm/gems/ruby-2.2.2/bin/scss:23:in `load'
/Users/michael/.rvm/gems/ruby-2.2.2/bin/scss:23:in `<main>'
/Users/michael/.rvm/gems/ruby-2.2.2/bin/ruby_executable_hooks:15:in `eval'
/Users/michael/.rvm/gems/ruby-2.2.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$screen-xs-min\".\A         on line 2 of /Users/michael/suitit/dev/boilerplates/style-boilerplate/variables/_media-queries.scss\A         from line 5 of /Users/michael/suitit/dev/boilerplates/style-boilerplate/app.scss\A \A 1: // Charakter Set\A 2: @charset \"UTF-8\";\A 3: \A 4: // Variables:start\A 5: @import \"variables/media-queries\";\A 6: @import \"variables/colors\";\A 7: @import \"variables/fonts\";"; }
